.pageDailysummar {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .lnav {
        font-size: 15px;
        width: 500px;
        text-align: left;
      }
    }
    .panel-default {
      .cal {
        display: none;
        margin-left: 0;
        margin-top: 3px;
      }
      .cal2 {
        display: none;
        margin-left: 0;
        margin-top: 3px;
      }
      .panel-body{
        form{
          .sel{
            width: 200px;
          }
          .export{
            display: inline-block;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            padding-right: 20px;
          }
        }
      }
    }
    .addbox {
      padding-left: 10px;
      padding-right: 10px;
      .add {
        height: 32px;
        line-height: 32px;
        width: 100%;
        text-align: right;
        margin: 20px auto;
        background: #f5fafe;
        color: white;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .tablehead {
        width: 100%;
        display: flex;
        height: 30px;
        line-height: 30px;
        justify-content: space-between;
      }
      .layui-table {
        th,
        td {
          text-align: center;
        }
      }
      .pag{
        margin-top: 30px;
      }
    }
  }
  