.pagekokogame {
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      width: 90%;
      flex: 1;
      z-index: 1000;
      .lnav {
        font-size: 15px;
        width: 500px;
        text-align: left;
      }
    }
   .gamebtn{
     .text{
       display: flex;
       align-items: center;
       justify-content: flex-start;
       padding-left:10px;
     }
   }

    .panel-default {
      .cal {
        display: none;
        margin-left: 0;
        margin-top: 3px;
      }
      .cal2 {
        display: none;
        margin-left: 0;
        margin-top: 3px;
      }
      .panel-body{
        form{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
          .sel{
            width: 200px;
          }
          .mr{
              margin-top:  20px;
          }
          .export{
            display: inline-block;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            padding-right: 20px;
          }
        }
      }
    }
    .addbox {
      padding-left: 10px;
      padding-right: 10px;
      .add {
        height: 32px;
        line-height: 32px;
        width: 100%;
        text-align: right;
        margin: 20px auto;
        background: #f5fafe;
        color: white;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content:flex-end;
      }
      .tablehead {
        width: 100%;
        display: flex;
        height: 30px;
        line-height: 30px;
        justify-content: space-between;
      }
      .layui-table {
        th,
        td {
          text-align: center;
        }
      }
      .pag{
        margin-top: 30px;
      }
    }
  }
  