.take{
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 90%;
        flex: 1;
        z-index: 1000;
        .lnav {
          font-size: 15px;
          width: 500px;
          text-align: left;
        }
      }
      article{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          .row{
            margin: 0;
            padding: 0;
            box-sizing: border-box; 
            height: 40px;
            line-height: 40px;
            display: flex;
            font-size: 15px;
            label{
                font-weight: 100;
            }
            .modification-btn{
                color:rgb(255, 0, 106);
            }
            .announcement{
                line-height: 22px;
                font-size: 13px;
                padding: 20px;
            }
          }

        
      }
}